useDynLib(bayesclust)
export(cluster.optimal, cluster.test, emp2pval, combine, nulldensity)
S3method(hist, nulldensity)
S3method(plot, cluster.optimal)
S3method(plot, cluster.test)
S3method(plot, cluster.test.reps)
S3method(print, emp2pval)
S3method(emp2pval, cluster.test)
S3method(emp2pval, cluster.test.reps)
S3method(summary, cluster.test)
S3method(summary, cluster.test.reps)
S3method(print, summary.cluster.test)
S3method(print, summary.cluster.test.reps)
